<!DOCTYPE html>
<html>
<head>
  <title>Food Image Classifier</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Upload an Image <button id="darkModeToggle"><i class="fas fa-sun"></i> <i class="fas fa-moon"></i></button></h1>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>

  <script>
    const toggleButton = document.getElementById('darkModeToggle');
    const body = document.body;

    // Check if the user has a dark mode preference set
    const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

    // Apply dark mode on page load if previously enabled
    if (localStorage.getItem('darkMode') === 'enabled') {
      body.classList.add('dark-mode');
    } else if (prefersDarkMode) { // Then check system preference
      body.classList.add('dark-mode');
    }

    toggleButton.addEventListener('click', () => {
      body.classList.toggle('dark-mode');

      // Store the user's preference in localStorage
      if (body.classList.contains('dark-mode')) {
        localStorage.setItem('darkMode', 'enabled');
      } else {
        localStorage.setItem('darkMode', 'disabled');
      }
    });
  </script>
</body>
</html>